

.covid-19-accordion {
    background-color: #ad660a;
    font-family: Arial, sans-serif;
    font-weight: 500;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px;
    display: block;
}

.covid-19-accordion .container .banner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.covid-19-accordion .container .links {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.covid-19-accordion .container h1,h2,h3 {
    font-size: 15px;
    font-family: Lato, sans-serif;
    margin-top: 0;
}

.covid-19-accordion .container .icon {
    width: 15%;
    text-align: center;
}

.covid-19-accordion .container .details {
    display: none;
}

.covid-19-accordion .container .expanded{
    display: block;
}










