@import url("base.css");
@import url("sections.css");

:root {
  /* colors */
  --link-color: #576c1b;
  --link-hover-color: #a5c651;
  --background-color: #fff;
  --background-secondary-color:#f7f7f7 ;
  --text-color: #1f1f1f;
  --text-secondary-color: #6c6c6c;
  --accent-color: #dfdfdf;

  /* fonts */
  --body-font-family: 'Lato', helvetica, ubuntu, roboto, noto, sans-serif;
  --heading-font-family: 'Montserrat', helvetica, ubuntu, roboto, noto, sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --font-size-l: 22px;
  --font-size-m: 18px;
  --font-size-s: 15px;
  --font-size-xs: 13px;

  /* nav height */
  --nav-desktop-height: 170px;
  --nav-height: 64px;

  --content-width:600px
}

/* tablet portrait is >=600 */
@media (min-width:600px) {

}

/* tablet landscape is >=900 */
@media (min-width: 900px) {
  :root {
    --content-width:768px
  }
  main {
    max-width: var(--content-width);
  }
}

/* desktop is >=1200 */
@media (min-width: 1200px) {
  :root {
    --content-width: 1100px
  }
  main {
    max-width: var(--content-width);
  }
}




/*
=== animation ===
 */
.fade-in-slow,.fade-in { animation: fade-in-kf 0.5s; }

.fade-in-fast { animation: fade-in-kf 0.1s; }

@keyframes fade-in-kf {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*
=== main block ===
 */

main .section {
  padding: 10px 16px;
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--accent-color) ;

}

main table tr:nth-child(even) {
  background-color: var(--background-secondary-color);

}

main table tr:nth-child(odd) {
  background-color: var(--background-color);
}

main table td{
  padding: 0.5em 1em;
  text-transform: lowercase;
}

main table  tr:first-child > td{
  font-weight: bold;
}

main table td::first-letter{
  text-transform: uppercase;
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* sidebar */
main {
  display: grid;
  max-width: var(--content-width);
  margin: 0 auto;
  grid-template-columns: auto ;
}

main > *:not(.section.sidebar-container) {
  grid-column: 1;
}

main.has-sidebar {
  grid-template-columns: auto ;
}

main .section.sidebar-container {
  grid-column: unset;
  grid-row: unset;
}



/* tablet portrait is >=600 */
@media (min-width:600px) {

}

/* tablet landscape is >=900 */
@media (min-width: 900px) {

}

/* desktop is >=1200 */
@media (min-width: 1200px) {
  main.has-sidebar {
    grid-template-columns: auto 350px ;
  }

  main .section.sidebar-container {
    grid-column: 2;
    grid-row: 1 / infinite;
    /*padding-right: 0;*/
  }

  main.has-sidebar .section.sidebar-container,
  main.has-sidebar .section.sidebar-container #sidebar>.section{
    padding-right: 0;
  }
  main.has-sidebar .section:not(.sidebar-container){

    padding-left: 0;
  }
}